<%= form_for(@detail_page) do |f| %>
  <% if @detail_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@detail_page.errors.count, "error") %> prohibited this detail_page from being saved:</h2>

      <ul>
      <% @detail_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
