// Place all the styles related to the detail_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#datail {
  width: 500px;
  margin-right: 100px;
  margin-left: 30px;
}

#cartbutton {
  margin-bottom: 20px;
}

#detailimg {
  text-align: center;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}