// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#formname {
  background-color: black;
  color: white;
  width: 8em;
  text-align: center;
    border: groove 5px #8f8f8f;
}

#orderform {
  margin-left: 3em;
  border: groove 5px #8f8f8f;
  width: 400px;
  text-align: center;
}